.locations{
    width: 25%;
height: 100%;
border-left: 1px solid #DDDDDD;
text-align: end;
background-color: blanchedalmond;
}

.amenities{
    width: 25%;
    height: 100%;
    text-align: end;
    background-color: blanchedalmond;

}

.locations h3{
    position: relative;
    left: 70%;
    text-align: center;
    font-weight: 600;

}
.amenities h3{
    font-weight: 600;

}